{% extends 'core/group.html' %} {% load static %} {% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>WMS Poltekpos</h1>
    <p>Pembayaran transfer melalu bank mandiri dengan nomor rekening 08484837462 ,Konfirmasi pembayaran melalui Whatsapp dengan nomor : 08xxxxxxxxx</p>
  </div>
</div>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">paket 1 bulan</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Rp. </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">paket 3 bulan</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Rp. </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">paket 1 tahun</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Rp. </div>
      </div>
    </div>
  </div>
</div><br>

{% endblock %}