<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warehouse Management System</title>
    
  {% load static %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static '/base/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/base/css/bootstrap.min.css' %}">
 -->
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/base/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS --
    <link rel="stylesheet" href="{% static '/base/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static '/base/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/base/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/base/css/custom.css' %}" />
    <script src="https://kit.fontawesome.com/8b969e22b4.js" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> {% endcomment %}
   {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"> {% endcomment %}
</head>
<body>
<!-- LOADER -->
    <!-- <div id="preloader">
        <div class="loader">
            <img src="images/loader.gif" alt="#" />
        </div>
    </div> -->
    <!-- end loader -->
    <!-- END LOADER -->
    
    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section" style="width:100%;">
                        {% comment %} <a class="navbar-brand" href="index.html"><img src="{% static '/base/images/logo.png' %}" alt="image"></a> {% endcomment %}
                        <h1 style="font-size:45px;margin-top:20px;font-style:bold;"><span class="theme_color">WMS </span>POLTEKPOS</h1>
                    </div>
                    <div class="site_information" style="width:100%;">
                        <ul style="width:100%;">
                            <li style="margin-top:20px;"><a href="mailto:exchang@gmail.com"><img src="{% static '/base/images/mail_icon.png' %}" alt="#" />wms.helpdesk@poltekpos.ac.id</a></li>
                            <li style="margin-left:-50px;margin-top:20px;"><a href="tel:exchang@gmail.com"><img src="{% static '/base/images/phone_icon.png' %}" alt="#" />(022)2009562</a></li>
                            {% comment %} <li><a href="#login" data-toggle="modal" data-target="#exampleModalCenter" class="join_bt">Login</a></li> {% endcomment %}
                            <li style="width:100px;font-size:12px;margin-left:-10px;margin-top:20px;"><a href="{% url 'login'%}" class="join_bt">Login Member</a></li>
                            {% comment %} <li style="width:100px;font-size:12px;"><a href="" class="join_bt">Login Admin</a></li> {% endcomment %}
                            <li style="width:100px;font-size:12px;margin-left:10px;margin-top:20px;"><a href="{% url 'groupLogin'%}" class="join_bt">Login Group</a></li>
                            <a href="{% url 'adminLogin'%}" class="navbar-brand" href="index.html"><img src="{% static '/base/images/admin.png' %}" alt="image" style="width:70px;"></a>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom" style="width:100%;">
          {% comment %} <div class="container" style="width:100%;"> {% endcomment %}
          <div style="position:relative;">
            <div>
            {% comment %} <div class="col-sm-12" style="width:100%;"> {% endcomment %}
                <div class="menu_orange_section" style="background: #ff880e;" style="width:100%;">
                   <nav class="navbar header-nav navbar-expand-lg" style="width:100%;"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd" style="width:100%;">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#services">Services</a></li>
                        <li><a class="nav-link" href="#exchange">Exchange</a></li>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="#news">News</a></li>
                        <li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                 <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{% static '/base/images/search_icon.png' %}" alt="#" />
                    </a>
                </div> 
                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->

    <!-- Start Banner --
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
               <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="full">
                      <img class="img-responsive" src="{% static '/base/images/wms.jpg' %}" alt="#" />
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
  <!-- section -->
    <div class="section" style="width:100%;" id="home">
        <div class="container">
            <div class="row" style="width:100%;">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static '/base/images/wms.jpg' %}" alt="#" />
                        
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
               <h2><span class="theme_color">Welcome</span> To WMS Politeknik Pos Indonesia</h2>  
                        </div>
                    </div>
                    <div style="width:100%;">
                        <p style="width:100%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">About more ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- end section -->
    <!-- section -->
    <div class="section layout_padding" id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Services</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                       <img class="img-responsive" src="{% static '/base/images/receiving.jpg' %}" alt="#" />
                       <h4>Receiving</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static '/base/images/barcode.jpg' %}" alt="#" />
                        <h4>Barcode System</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static '/base/images/packing.jpg' %}" alt="#" />
                        <h4>Packing</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static '/base/images/reporting.jpg' %}" alt="#" />
                        <h4>Reporting</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="#">About more ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section white_fonts" style="background: #2a2a2a;" id="exchange">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background: #fff;">
                    <div class="full text_align_right_img">
                        <img src="{% static '/base/images/wms2.jpg' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Apply for</span> Exchange</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Exchange ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
  <!-- section -->
    <div class="section layout_padding about_bg" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>About</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Read More ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static '/base/images/wms3.jpg' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
  <!-- section -->
    <div class="section layout_padding padding_top_0" id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>News</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                       <img class="img-responsive" src="{% static '/base/images/wms4.jpg' %}" alt="#" />
                       <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                       <div class="blog_details">
                         <h3>Bitcoin News</h3>
                         <p>pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static '/base/images/wms5.jpg' %}" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                       <div class="blog_details">
                         <h3>Ethereum News</h3>
                         <p>pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static '/base/images/wms6.jpg' %}" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                       <div class="blog_details">
                         <h3>Light News</h3>
                         <p>pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                       </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_top_0" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Contact</h2>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- contact_form -->
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                        <form class="contact_form_inner" action="#">
                            <fieldset>
                                <div class="field">
                                    <input type="text" name="name" placeholder="Your name" />
                                </div>
                                <div class="field">
                                    <input type="email" name="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <input type="text" name="phone_no" placeholder="Phone number" />
                                </div>
                                <div class="field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="field center">
                                    <button>SEND</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact_form -->
    <!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        {% comment %} <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="{% static '/base/images/footer_logo.png' %}" alt="#" />
                            </div>
                        </div> {% endcomment %}
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="home.html">> Home</a></li>
                                    <li><a href="about.html">> About</a></li>
                                    <li><a href="exchange.html">> Exchange</a></li>
                                    <li><a href="services.html">> Services</a></li>
                                    <li><a href="new.html">> New</a></li>
                                    <li><a href="contact.html">> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                             <div class="newsletter_form">
                                <form action="index.html">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="{% static '/base/images/i5.png' %}"><span>Jalan Sariasih No.54, Sarijadi<br>Sukasari, Kota Bandung, Jawa Barat 40151</span></li>
                               <li><img src="{% static '/base/images/i6.png' %}"><span>cdc@poltekpos.ac.id</span></li>
                               <li><img src="{% static '/base/images/i7.png' %}"><span>(022)2009562</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
          </div>
                </div>
       </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2021 WMS Politeknik Pos Indonesia</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">login</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body mx-auto">
               <a class="btn bg-primary text-light " href="{% url 'login'%}">login member</a>
               <a class="btn bg-primary text-light" href="{% url 'adminLogin'%}">login admin</a>
               <a class="btn bg-primary text-light " href="{% url 'groupLogin'%}">login group</a>
            </div>
         </div>
      </div>
   </div>

    <!-- ALL JS FILES -->
    {% comment %} <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script> {% endcomment %}
    <!-- ALL PLUGINS -->
    {% comment %} <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static '/js/slider-index.js' %}"></script>
    <script src="{% static '/js/smoothscroll.js' %}"></script>
    <script src="{% static '/js/form-validator.min.js' %}"></script>
    <script src="{% static '/js/contact-form-script.js' %}"></script>
    <script src="{% static '/js/isotope.min.js' %}"></script>
    <script src="{% static '/js/base/images-loded.min.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script> {% endcomment %}
  {% comment %} <script>
  /* counter js */

(function ($) {
  $.fn.countTo = function (options) {
    options = options || {};
    
    return $(this).each(function () {
      // set options for current element
      var settings = $.extend({}, $.fn.countTo.defaults, {
        from:            $(this).data('from'),
        to:              $(this).data('to'),
        speed:           $(this).data('speed'),
        refreshInterval: $(this).data('refresh-interval'),
        decimals:        $(this).data('decimals')
      }, options);
      
      // how many times to update the value, and how much to increment the value on each update
      var loops = Math.ceil(settings.speed / settings.refreshInterval),
        increment = (settings.to - settings.from) / loops;
      
      // references & variables that will change with each update
      var self = this,
        $self = $(this),
        loopCount = 0,
        value = settings.from,
        data = $self.data('countTo') || {};
      
      $self.data('countTo', data);
      
      // if an existing interval can be found, clear it first
      if (data.interval) {
        clearInterval(data.interval);
      }
      data.interval = setInterval(updateTimer, settings.refreshInterval);
      
      // initialize the element with the starting value
      render(value);
      
      function updateTimer() {
        value += increment;
        loopCount++;
        
        render(value);
        
        if (typeof(settings.onUpdate) == 'function') {
          settings.onUpdate.call(self, value);
        }
        
        if (loopCount >= loops) {
          // remove the interval
          $self.removeData('countTo');
          clearInterval(data.interval);
          value = settings.to;
          
          if (typeof(settings.onComplete) == 'function') {
            settings.onComplete.call(self, value);
          }
        }
      }
      
      function render(value) {
        var formattedValue = settings.formatter.call(self, value, settings);
        $self.html(formattedValue);
      }
    });
  };
  
  $.fn.countTo.defaults = {
    from: 0,               // the number the element should start at
    to: 0,                 // the number the element should end at
    speed: 1000,           // how long it should take to count between the target numbers
    refreshInterval: 100,  // how often the element should be updated
    decimals: 0,           // the number of decimal places to show
    formatter: formatter,  // handler for formatting the value before rendering
    onUpdate: null,        // callback method for every time the element is updated
    onComplete: null       // callback method for when the element finishes updating
  };
  
  function formatter(value, settings) {
    return value.toFixed(settings.decimals);
  }
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
  formatter: function (value, options) {
    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
  }
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
  var $this = $(this);
  options = $.extend({}, options || {}, $this.data('countToOptions') || {});
  $this.countTo(options);
  }
});
  </script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  {% comment %} <script src="js/bootstrap.min.js"></script> {% endcomment %}
  <script>
  $(document).ready(function(){
    $("a").on('click', function(event) {
     if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 3000, function(){
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>
</body>

</html>