{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{% static 'images/img-01.png' %}" alt="IMG" />
                </div>
                <form method="POST" enctype="multipart/form-data" class="login100-form validate-form">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <span class="login100-form-title">Register</span>
                    <div class="wrap-input100">
                        <input class="input100" type="hidden" name="id" value="USG{{id}}" />
                    </div>
                    <div class="wrap-input100" data-validate="Please input your email !">
                        <input type="file" class="form-control" name="imageCompany">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input class="input100" type="text" name="nameCompany" placeholder="nameCompany" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <textarea class="input100" type="text" name="addressCompany"
                            placeholder="addressCompany" /></textarea>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <select class="form-control" type="text" name="province" id="selectProvinsi" placeholder="province" onchange="fetchCity()">  
                            <option>--Select Province</option>
                        </select>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <select class="input100" type="text" name="city" id="selectKota" placeholder="province" onchange="fetchDistrict()">
                            <option>--Select City</option>  
                        </select>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <select class="input100" type="text" name="districts" id="selectKecamatan" placeholder="province" onchange="fetchVillage()">  
                            <option>--Select Districts</option>
                        </select>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <select class="input100" type="text" name="village" id="selectDesa" placeholder="province">  
                            <option>--Select Village</option>
                        </select>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <textarea class="input100" type="text" name="address" placeholder="address" /></textarea>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input class="input100" type="text" name="postalCode" placeholder="postal code" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input class="input100" type="number" name="phoneNumber" placeholder="phone number" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your email !">
                        <input class="input100" type="email" name="email" placeholder="email" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input class="input100" type="text" name="name" placeholder="name Operator" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input type="file" class="input100" name="profileOperator">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100" data-validate="Please input your username correctly !">
                        <input class="input100" type="password" name="password" placeholder="password" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="background:#fd7e14;">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://api.iksgroup.co.id/apijs/lokasiapi.js"></script>
    <script>
        var render=createwidgetlokasi("provinsi","kabupaten","kecamatan","kelurahan");
    </script> -->

    <script>
        fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/provinces.json`)
        .then(response => response.json())
        .then(result => {
            result.map(item => {
                $('#selectProvinsi').append(
                    '<option value="' + item.id + '">' + item.name + '<option/>'
                );
            })
        });
        
        function fetchCity(){
            // get id provinsi
            let idProvinsi = $('#selectProvinsi').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/regencies/${idProvinsi}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectKota').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        }

        function fetchDistrict(){
            // get id kota
            let idCity = $('#selectKota').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/districts/${idCity}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectKecamatan').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        }

        function fetchVillage(){
            // get id kota
            let idVillage = $('#selectKecamatan').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/villages/${idVillage}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectDesa').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        }
    </script>

    <!-- <script src="http://api.iksgroup.co.id/assets//jquery.min.js"></script>
    <script src="http://api.iksgroup.co.id/assets//js/bootstrap.min.js"></script>
    <script src="http://api.iksgroup.co.id/apijs/lokasiapi.js"></script>
    <script>
        var render=createwidgetlokasi("provinsi","kabupaten","kecamatan","kelurahan");
        $(document).ready(function(){
            $("#show").click(function(){
                $("#output").html(trackdatalokasi);
            });
            
            $("#cara").click(function(){
                if($("#guide").is(':visible'))
                {
                    $("#guide").hide();
                }else{
                    $("#guide").show();
                }
            });
        });
    </script>
    <script async="" src="https://t.dtscdn.com/widget/?d=6D001610327902AEBD3989D8FB0EC3E1&amp;p=0&amp;t=-420&amp;s=1366x768x24&amp;u=http%3A%2F%2Fapi.iksgroup.co.id%2Flokasi%2Fdemolokasi&amp;r=https%3A%2F%2Fwww.google.com%2F"></script>
    <script src="https://get.s-onetag.com/f0c84061-4182-4398-8e37-5ff5b5698a6f/tag.min.js" async="" defer=""></script> -->
    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script>
        $(".js-tilt").tilt({
            scale: 1.1,
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>