{% load static %}

<nav id="sidebar">
    <div class="p-4 pt-5">
        <div class="login100-pic-sidebar js-tilt" data-tilt>
            <a href="https://wmspoltekpos.herokuapp.com/" class="img logo"><img src="{% static 'images/img-01.png' %}"
                    alt="IMG" /></a>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#inboundSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Inbound</a>
                <ul class="collapse list-unstyled" id="inboundSubmenu">
                    <li>
                        <a href="#">Inbound Data</a>
                    </li>
                    <li>
                        <a href="#">Supplier</a>
                    </li>
                    <li>
                        <a href="{% url 'item' %}">Item</a>
                    </li>
                    <li>
                        <a href="#">Return</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Storage</a>
            </li>
            <li>
                <a href="#">Outbound</a>
            </li>
            {% if role == 'ADM' %}
            <li>
                <a href="#">User Management</a>
            </li>
            {% endif %}
            <li>
                <a href="#">Report</a>
            </li>
        </ul>
        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | by WMS POLTEKPOS
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</nav>