{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch">
 -->     <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      {% if role == 'ADM' %}
        <h2 class="mb-4">Ini Role ADM</h2>
        {% elif role == 'MAN' %}
        <h2 class="mb-4">Ini Role MAN</h2>
        {% elif role == 'OPR' %}
        <h2 class="mb-4">Ini Role OPR</h2>
        {% endif %}

        <h1>User</h1>
        <hr>
        <div class="card">
          <div class="card-header">
            Detail User
          </div>
          <div class="card-body">
               <table>
                <tr>
                  <td>User id</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.id}}</td>
                </tr>
                <tr>
                  <td>User</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.name}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.phoneNumber}}</td>
                </tr>    
                <tr>
                  <td>Province</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.province}}</td>
                </tr>
                <tr>  
                  <td>City</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.city}}</td>
                </tr>
                <tr>
                  <td>Districts</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.districts}}</td>
                </tr>
                 <tr>
                  <td>Village</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.village}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.address}}</td>
                </tr>
                <tr>
                  <td>Postal Code</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{user.postalCode}}</td>
                </tr>
            </table>
            <br>
            <a href="{% url 'userIndex' %}" class="btn btn-primary btn-sm">Kembali</a>
          </div>
        </div>  
        <hr>
    </div>
</div>
{% endblock content %}