{% extends 'base/master.html' %}
{% load static %}

{% block content %}
{% if role == 'ADM' %}
<h2 class="mb-4">Ini Role ADM</h2>
{% elif role == 'MAN' %}
<h2 class="mb-4">Ini Role MAN</h2>
{% elif role == 'OPR' %}
<h2 class="mb-4">Ini Role OPR</h2>
{% endif %}
<a href="#" class="btn btn-primary btn-sm" style="margin: 20px;" role="button" aria-pressed="true">Add
    Item</a>
<a href="{% url 'list_category' %}" class="btn btn-primary btn-sm" style="margin: 20px;" role="button"
    aria-pressed="true">Category</a>
{% endblock content %}