{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch"> -->
<!-- Page Content  -->
    <h2>Input Inbound Data</h2>
    <hr>
    <div class="card">
        <div class="card-header">
            Add InboundData
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {%csrf_token%}
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="id" id="id" value="IBD{{inbounddata_id}}">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="inbound" id="inbound"
                                value="{{inbound_id}}">
                        </div>
                        <div class="form-group">
                            <label for="itemdata">Item</label>
                            <select class="form-control" name="item" name="item">
                                {% for itm in item %}
                                <option value='{{itm.id}}'>{{itm.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="itemdata">Quantity</label>
                            <input type="text" class="form-control" name="quantity" id="quantity"
                                placeholder="Input Quantity">
                        </div>
                        <div class="form-group">
                            <label for="itemdata">Reject</label>
                            <input type="text" class="form-control" name="reject" id="reject"
                                placeholder="Input Reject">
                        </div>
                        <div class="form-group">
                            <label for="itemdata">Pass</label>
                            <input type="text" readonly class="form-control" name="pass" id="pass">
                        </div>
                        <div class="form-group">
                            <input type="hidden" readonly class="form-control" name="rejectCounter" id="rejectCounter">
                        </div>
                         <div class="form-group">
                                <input type="hidden" class="form-control" name="userGroup" id="userGroup" value="{{group_id}}">
                            </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <script type="text/javascript">
                    var qty = document.getElementById('quantity');
                    var rjt = document.getElementById('reject');
                    var rejectCounter = document.getElementById('rejectCounter');
                    var pass = document.getElementById('pass');

                    qty.addEventListener("change", function () {
                        pass.value = qty.value - rjt.value;
                    });
                    rjt.addEventListener("change", function () {
                        pass.value = qty.value - rjt.value;
                    });
                </script>
                 <script type="text/javascript">
                    var qty = document.getElementById('quantity');
                    var rjt = document.getElementById('reject');
                    var rejectCounter = document.getElementById('rejectCounter');
                    var pass = document.getElementById('pass');

                    qty.addEventListener("change", function () {
                        rejectCounter.value = rjt.value;
                    });
                    rjt.addEventListener("change", function () {
                        rejectCounter.value = rjt.value;
                    });
                </script>
            </form>
           
    </div>
     <a href="{% url 'inboundIndex' %}"><button type="submit" class="btn btn-success">Back</button></a>
</div>
</div>
{% endblock content %}