{% extends 'base/master.html' %} {% load static %} {% block content %}
<h2>Data Item</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
        <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add
            Item</a> {% endif %}
        <a href="{% url 'categoryIndex' %}" class="btn btn-primary btn-sm" style="margin-left:20px;" role="button" aria-pressed="true">Category</a>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Item Id</th>
                    <th scope="col">Item</th>
                    <th scope="col">Subcategory</th>
                    {% if role != 'OPR' %}
                    <th scope="col" style="width: 165px;">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in Item %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{item.0}}</td>
                    <td>{{item.1}}</td>
                    <td>{{item.2}}</td>
                    {% if role != 'OPR' %}
                    <td>
                        <a href="#" class="btn btn-success btn-sm" role="button" aria-pressed="true">Update</a>
                        <form action="#" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px; width: 50px;">
                            <i class="text-white">Delete</i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock content %}