{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch">
 -->    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        {% if role == 'ADM' %}
        <h2 class="mb-4">Ini Role ADM</h2>
        {% elif role == 'MAN' %}
        <h2 class="mb-4">Ini Role MAN</h2>
        {% elif role == 'OPR' %}
        <h2 class="mb-4">Ini Role OPR</h2>
        {% endif %}

        <h2>Input Supllier</h2>
        <hr>
        <div class="card">
            <div class="card-header">
                Add Supplier
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" id="id" value="SPL{{id_supplier}}">
                            </div>
                            <div class="form-group">
                                <label for="category">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Input Name">
                            </div>
                            <div class="form-group">
                                <label for="category">Email</label>
                                <input type="text" class="form-control" name="email" id="email"
                                    placeholder="Input Email">
                            </div>
                            <div class="form-group">
                                <label for="category">Phone</label>
                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                    placeholder="Input Phone">
                            </div>
                            <div class="form-group">
                            <label for="supplier">Province</label>
                            <select class="form-control" type="text" name="province" id="selectProvinsi" placeholder="province" onchange="fetchCity()">  
                                
                            </select>
                            </div>
                            <div class="form-group">
                                <label for="supplier">City</label>
                                <select class="form-control" type="text" name="city" id="selectKota" placeholder="province" onchange="fetchDistrict()">
                                    <option>--Select City</option>  
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="supplier">Districts</label>
                                <select class="form-control" type="text" name="districts" id="selectKecamatan" placeholder="province" onchange="fetchVillage()">  
                                    <option>--Select Districts</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="supplier">Village</label>
                                <select class="form-control" type="text" name="village" id="selectDesa" placeholder="province">  
                                    <option>--Select Village</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Address</label>
                                <textarea type="text" class="form-control" name="address" id="address"
                                    placeholder="Input Address"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="category">PostalCode</label>
                                <input type="text" class="form-control" name="postalCode" id="postalCode"
                                    placeholder="Input PostalCode">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="userGroup" id="userGroup" value="{{group_id}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'list_supplier' %}"><button type="submit" class="btn btn-success">Back</button></a>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
        fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/provinces.json`)
        .then(response => response.json())
        .then(result => {
            var option = '<option>--Select Province</option>';
            Object.keys(result).map(function (key, index) {
                option += '<option value="' + result[key].name + '" id="' + result[key].id + '">' + result[key].name + '</option>'
            });
            $('#selectProvinsi').html(option);
        });
        
        $('#selectProvinsi').on('change', function () {
        id = $(this).find('option:selected').attr('id');
        fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/regencies/${id}.json`)
            .then(response => response.json())
            .then(result => {
            var option = '<option>--Select City</option>';
            Object.keys(result).map(function (key, index) {
                option += '<option value="' + result[key].name + '" id="' + result[key].id + '">' + result[key].name + '</option>'
            });
            $('#selectKota').html(option);
            })
        })

        $('#selectKota').on('change', function () {
        let id = $(this).find('option:selected').attr('id');
        fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/districts/${id}.json`)
            .then(response => response.json())
            .then(result => {
            var option = '<option>--Select Districts</option>';
            Object.keys(result).map(function (key, index) {
                option += '<option value="' + result[key].name + '" id="' + result[key].id + '">' + result[key].name + '</option>'
            });
            $('#selectKecamatan').html(option);
            })
        })


        $('#selectKecamatan').on('change', function () {
        let id = $(this).find('option:selected').attr('id');
        fetch(`https://www.emsifa.com/api-wilayah-indonesia/api/villages/${id}.json`)
            .then(response => response.json())
            .then(result => {
            var option = '<option>--Select Village</option>';
            Object.keys(result).map(function (key, index) {
                option += '<option value="' + result[key].name + '" id="' + result[key].id + '">' + result[key].name + '</option>'
            });
            $('#selectDesa').html(option);
            })
        })

        {% comment %} function fetchCity(){
            // get id provinsi
            let idProvinsi = $('#selectProvinsi').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/regencies/${idProvinsi}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectKota').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        } {% endcomment %}

        {% comment %} function fetchDistrict(){
            // get id kota
            let idCity = $('#selectKota').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/districts/${idCity}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectKecamatan').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        } {% endcomment %}

        {% comment %} function fetchVillage(){
            // get id kota
            let idVillage = $('#selectKecamatan').val()

            fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/villages/${idVillage}.json`)
            .then(response => response.json())
            .then(result => {
                result.map(item => {
                    $('#selectDesa').append(
                        '<option value="' + item.id + '">' + item.name + '<option/>'
                    );
                })
            });
        } {% endcomment %}
    </script>
{% endblock content %}