{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<h2>Data Inbound Data</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
            {% for inb in Inbound %}
            {% if inb.status == "1" %}
        <a href="{% url 'add_inbounddata' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add
            Inbound Data</a>
            
            <form action="{% url 'confirm' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm" style="margin-top: 10px; padding: 6px; float: right;width: 70px;">
                    <i class="text-white">Confirm</i>
                </button>
            </form>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h6>Inbound ID</h6>
                <h6>Supplier ID</h6>
                <h6>Supplier</h6>
                <h6>Date</h6>
                <h6>Status</h6>
                <h6>Created by</h6>
            </div>
            {% for inb in Inbound %}
            <div class="col">
                <h6><b>: {{inb.id}}</b></h6>
                <h6><b>: {{inb.supplier.id}}</b></h6>
                <h6><b>: {{inb.supplier.name}}</b></h6>
                <h6><b>: {{inb.date}}</b></h6>
                <h6><b>: {{inb.get_status_display}}</b></h6>
                <h6><b>: {{inb.create.name}}</b></h6>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Inbound Data ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Reject</th>
                    <th scope="col">QR Code</th>
                    {% if role != 'OPR' %}
                    <th scope="col" style="width: 165px;">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for itdt in Itemdata %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{itdt.id}}</td>
                    <td>{{itdt.item.name}}</td>
                    <td>{{itdt.quantity}}</td>
                    <td>{{itdt.reject}}</td>
                    <td>-</td>
                    {% if role != 'OPR' %}
                    <td>
                        {% for inb in Inbound %}
                            {% if inb.status == "1" %}
                            <a href="{% url 'update_inbounddata' itdt.id  %}" class=" btn btn-success btn-sm" role="button"
                                aria-pressed="true">Update</a>
                            {% endif %}
                        {% endfor %}
                        <form action="{% url 'delete_inbounddata' itdt.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;width: 50px;">
                                <i class="text-white">Delete</i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'inboundIndex' %}"><button type="submit" class="btn btn-warning">Back</button></a>
    </div>
</div>

{% endblock content %}