{% load static %}
<html>
<head>
    <title>Html-Qrcode Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

<body>
    <div id="qr-reader" style="width:500px; height:500px; margin-left:25%;" ></div>
    
    <form id="qr-reader-results" action="#" methods="post">
    <input type="text" id="code" readonly>
    <input type="text" id="data" readonly>
    <input type="button" id="button" value="Add"><br>
    </form>l

</body>
<script src="{% static 'js/minified/html5-qrcode.min.js' %}"></script>
<script src="{% static 'js/minified/main.js' %}"></script>
</head>
</html>
