{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch">
 -->
<!-- Page Content  -->
            <select id="opt">
                <option value="inbound">Inbound</option>
                <option value="outbound">Outbound</option>
                <option value="move">Move</option>
            </select>


<div id="content" class="p-4 p-md-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
        integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

    <div style="width:50%" class="mx-auto">
        <div id="qr-reader" class="mx-auto"></div>
        <div class="mx-auto" >
        <form id="qr-reader-results" action="#" methods="post" class="mx-auto">
            {% csrf_token %}

            <input class="mx-auto" type="text" id="name" readonly><br>
            <input class="mx-auto" type="text" id="code" readonly><br>
            <input class="mx-auto" type="text" id="data" readonly><br>
            <input class="mx-auto" type="button" id="button" value="Add"><br>
            <input class="mx-auto" type="button" id="button" value="Reset"><br>
            
        </form>
        <input type="hidden" id="dodo"></div>
        <div id="dataset"> </div>
        </div>
    </div>
<script type="text/javascript">
var item = JSON.parse("{{datas|escapejs}}"); 
var dodo = document.getElementById('dodo');
dodo.value="{{datas|escapejs}}";
</script>
    <script src="{% static 'js/minified/html5-qrcode.min.js' %}"></script>
    <script src="{% static 'js/minified/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/minified/storageb.js' %}"></script>
    {% comment %} <script src="{% static 'js/minified/ajax.js' %}"></script> {% endcomment %}
    {% endblock content %}