{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch">
 -->     <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      {% if role == 'ADM' %}
        <h2 class="mb-4">Ini Role ADM</h2>
        {% elif role == 'MAN' %}
        <h2 class="mb-4">Ini Role MAN</h2>
        {% elif role == 'OPR' %}
        <h2 class="mb-4">Ini Role OPR</h2>
        {% endif %}

        <h1>Customer</h1>
        <hr>
        <div class="card">
          <div class="card-header">
            Detail Customer
          </div>
          <div class="card-body">
               <table>
                <tr>
                  <td>Customer id</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.id}}</td>
                </tr>
                <tr>
                  <td>Customer Name</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.name}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.email}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.phoneNumber}}</td>
                </tr>
                <tr>
                  <td>Province</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td id="province"></td>
                  <input type="hidden" id="get_prov" value="{{customer.province}}">
                </tr>
                <tr>
                  <td>City</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td id="city"></td>
                   <input type="hidden" id="get_city" value="{{customer.city}}">
                </tr>       
                <tr>
                  <td>Districts</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td id="districts"></td>
                  <input type="hidden" id="get_districts" value="{{customer.districts}}">
                </tr>
                 <tr>
                  <td>Village</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td id="village"></td>
                  <input type="hidden" id="get_village" value="{{customer.village}}">
                </tr>
                <tr>
                  <td>Address</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.address}}</td>
                </tr>
                <tr>
                  <td>Postal Code</td>
                  <td>&nbsp; : &nbsp;</td>
                  <td>{{customer.postalCode}}</td>
                </tr>
            </table>
            <br>
            <a href="{% url 'customer' %}" class="btn btn-primary btn-sm">Kembali</a>
          </div>
        </div>  
        <hr>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
        let get_prov = $('#get_prov').val()

        fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/provinces.json`)
        .then(response => response.json())
        .then(result => {
           Object.keys(result).map(function (key, index){
              if (get_prov == result[key].id){
                console.log(result[key])
                $('#province').html(result[key].name);
              }
           });
        });

        let get_city = $('#get_city').val()
        fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/regencies/${get_prov}.json`)
        .then(response => response.json())
        .then(result => {
           Object.keys(result).map(function (key, index){
              if (get_city == result[key].id){
                console.log(result[key])
                $('#city').html(result[key].name);
              }
           });
        });

       
        let get_districts = $('#get_districts').val()
         fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/districts/${get_city}.json`)
         .then(response => response.json())
         .then(result => {
            Object.keys(result).map(function (key, index){
                if (get_districts == result[key].id){
                  console.log(result[key])
                  $('#districts').html(result[key].name);
                }
            });
          });

          let get_village = $('#get_village').val()
         fetch(`http://www.emsifa.com/api-wilayah-indonesia/api/villages/${get_districts}.json`)
         .then(response => response.json())
         .then(result => {
            Object.keys(result).map(function (key, index){
                if (get_village == result[key].id){
                  console.log(result[key])
                  $('#village').html(result[key].name);
                }
            });
          });
 </script>       
{% endblock content %}