{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<!-- <div class="wrapper d-flex align-items-stretch"> -->
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">
    <h2>Update OutboundData</h2>
    <hr>
    <div class="card">
        <div class="card-header">
            Update OutboundData
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-8">
                        div class="form-group">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{outbounddata.id}}">
                    </div>
                    <div class="form-group">
                        <label for="itemdata">Item</label>
                        <select class="form-control" name="item" id="item">
                            {% for itm in item %}
                            <option value='{{itm.id}}'>{{itm.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemdata">Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="quantity"
                            value="{{outbounddata.quantity}}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="userGroup" id="userGroup"
                            value="{{outbounddata.userGroup_id}}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="outbound" id="outbound" value="{{outboundid}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
        </div>
        </form>
        <a href="{% url 'outbound' %}"><button type="submit" class="btn btn-success">Back</button></a>
    </div>
</div>
</div>
{% endblock content %}