{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<h2>Data Outbound</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
            {% if Outboundstats.status == "1" %}
                <a href="{% url 'add_outbounddata' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add
                    Outbound Data</a>
            {% endif %}
            {% if Outbounddatastats.outbound.status == "1" %}
                <form action="{% url 'confirm_outbound' %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm"
                        style="margin-top: 10px; padding: 6px; float: right;width: 100px;">
                        <i class="text-white">Confirm</i>
                    </button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h6>Outbound ID</h6>
                <h6>Customer Name</h6>
                <h6>Address</h6>
                <h6>Phone Number</h6>
                <h6>Date</h6>
                <h6>Status</h6>
            </div>
            {% for otb in Outbound %}
            <div class="col">
                <h6><b>: {{otb.id}}</b></h6>
                <h6><b>: {{otb.name}}</b></h6>
                <h6><b>: {{otb.address}}</b></h6>
                <h6><b>: {{otb.phoneNumber}}</b></h6>
                <h6><b>: {{otb.date}}</b></h6>
                <h6><b>: {{otb.get_status_display}}
                    </b></h6>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Id Outbound Data</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    {% if role != 'OPR' %}
                    {% if Outbounddatastats.outbound.status == '1' %}
                    <th scope="col" style="width: 165px;">Action</th>
                    {% endif %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for itdt in Outbounddata %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{itdt.id}}</td>
                    <td>{{itdt.item.name}}</td>
                    <td>{{itdt.quantity}}</td>
                    {% if role != 'OPR' %}
                    {% if itdt.outbound.status == '1' %}
                    <td>
                        <a href="{% url 'update_outbounddata' itdt.id %}" class=" btn btn-success btn-sm" role="button"
                            aria-pressed="true">Update</a>
                        <form action="{% url 'delete_outbounddata' itdt.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;width: 80px;">
                                <i class="text-white">Delete</i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'outbound' %}"><button type="submit" class="btn btn-warning">Back</button></a>
    </div>
</div>

{% endblock content %}