{% extends 'base/master.html' %}
{% load static %}
{% block content %}
<!-- Page Content  -->
<div id="content" width="80%">
    <h2>Add Rack</h2>
    <hr>
    <div class="card">
        <div class="card-header">
            Add Rack
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="id">Id Rack</label>
                                    <input type="text" class="form-control" name="id" id="id"
                                        placeholder="Input Id Rack">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="row">Row</label>
                                    <input type="text" class="form-control" name="row" id="row"
                                        placeholder="Input Number of row">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="col">Col</label>
                                    <input type="text" class="form-control" name="col" id="col"
                                        placeholder="Input Number of col">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="form-group">
                                <label for="capacity">Capacity of Bin</label>
                                <input type="text" class="form-control" name="capacity" id="capacity"
                                    placeholder="Input Number of Bin">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="userGroup" id="userGroup"
                                    value="{{group_id}}">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" style="float: right;" class="btn btn-primary">Add</button>
            </form>
            <a href="{% url 'rackIndex' %}"><button type="submit" class="btn btn-success">Back</button></a>
        </div>
    </div>
</div>
{% endblock content %}