{% extends 'base/master.html' %} {% load static %} {% block content %}
<h2>Data Rack</h2>
<hr>
<div class="card">

    <div class="card-header">
        {% if role != 'OPR' %}
        <a href="{% url 'rackCreate' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Create
            Rack</a> {% endif %}
    </div>

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 100px;">No</th>
                    <th scope="col">Rack Id</th>
                    <th scope="col">Number of Bin</th>
                    <th scope="col" style="width: 165px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rack %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{r.id}}</td>
                    <td>{{r.numbin}}</td>
                    <td>
                        <a href="{% url 'rackView' r.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">View</a>
                        <a href="#"><button class="btn btn-success btn-sm">PDF</button></a> {% if role != 'OPR' %}
                        <form action="{% url 'rackDelete' r.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;">
                                <i class="text-white">Delete</i>
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
{% endblock content %}