{% extends 'base/master.html' %}
{% load static %}
{% block content %}
<h2>Data Rack - <b>{{rack}}</b> - Number of Bin = {{bin_len}}</h2>
<hr>
<div class="card">
    <div class="card-header">
        <h5>Data Bin Location</h5>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 100px;">No</th>
                    <th scope="col">Bin Id</th>
                    <th scope="col">Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for b in binlocation %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><b>{{b.binlocation}}</b></td>
                    <td>{{b.capacity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}