{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<h2>List Data Costumer Return</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
            {% if costumerReturnst == '1' %}
            <a href="{% url 'costumerReturndataCreate' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add
                Costumer Return Data</a>
            {% endif %}
            {% if costumerReturnDataStats.costumerReturn.status == '1' %}
            <form action="{% url 'costumerReturnConfirm' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm"
                    style="margin-top: 10px; padding: 6px; float: right;width: 100px;">
                    <i class="text-white">Confirm</i>
                </button>
            </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h6>Costumer Return ID</h6>
                <h6>Costumer Name</h6>
                <h6>Address</h6>
                <h6>Phone Number</h6>
                <h6>Date</h6>
                <h6>Status</h6>
            </div>
            {% for crd in costumerReturn %}
            <div class="col">
                <h6><b>: {{crd.id}}</b></h6>
                <h6><b>: {{crd.outbound.name}}</b></h6>
                <h6><b>: {{crd.outbound.address}}</b></h6>
                <h6><b>: {{crd.outbound.phoneNumber}}</b></h6>
                <h6><b>: {{crd.date}}</b></h6>
                <h6><b>: {{crd.get_status_display}}</b></h6>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Id Costumer Data</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    {% if costumerReturnDataStats.costumerReturn.status == '1' %}
                        {% if role != 'OPR' %}
                        <th scope="col" style="width: 165px;">Action</th>
                        {% endif %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for crd in costumerReturnData %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{crd.id}}</td>
                    <td>{{crd.item.name}}</td>
                    <td>{{crd.quantity}}</td>
                    {% if role != 'OPR' %}
                    {% if crd.costumerReturn.status == '1' %}
                    <td>
                        <a href="{% url 'costumerReturndataUpdate' crd.id %}" class=" btn btn-success btn-sm" role="button"
                            aria-pressed="true">Update</a>
                        <form action="{% url 'costumerReturndataDelete' crd.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;width: 80px;">
                                <i class="text-white">Delete</i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'costumerReturnIndex' %}"><button type="submit" class="btn btn-warning">Back</button></a>
    </div>
</div>

{% endblock content %}