{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<h2>Data Return Costumer</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
        <a href="{% url 'costumerReturnCreate' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Create
            Costumer Return</a>
        {% endif %}
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Costumer Return Id</th>
                    <th scope="col">Outbound Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Confirm</th>
                    <th scope="col">Create</th>
                    <th scope="col" style="width: 165px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cr in costumerReturn %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{cr.id}}</td>
                    <td>{{cr.outbound.id}}</td>
                    <td>{{cr.outbound.name}}</td>
                    <td>{{cr.outbound.address}}</td>
                    <td>{{cr.outbound.phoneNumber}}</td>
                    <td>{{cr.outbound.postalCode}}</td>
                    <td>{{cr.date}}</td>
                    <td>{{cr.get_status_display}}</td>
                    <td>{{cr.confirm.name}}</td>
                    <td>{{cr.create.name}}</td>
                    <td>
                        <a href="{% url 'costumerReturndataIndex' cr.id %}"><button class="btn-primary btn-sm">View</button></a>
                        {% if role != 'OPR' %}
                            {% if cr.status == '1' %}
                            <form action="{% url 'costumerReturnDelete' cr.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;">
                                    <i class="text-white">Delete</i>
                                </button>
                            </form>
                            {% endif %}
                            {% if cr.status != '1' %}
                            <a href="{{cr.id}}"><button class="btn btn-warning btn-sm">PDF</button></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}