{% extends 'base/master.html' %}
{% load static %}

{% block content %}
<h2>List Data Supplier Return</h2>
<hr>
<div class="card">
    <div class="card-header">
        {% if role != 'OPR' %}
        <a href="{% url 'supplierReturndataCreate' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add
            Supplier Return Data</a>
        {% if supplierReturnDataStats.supplierReturn.status == '1' %}
        <form action="{% url 'supplierReturnConfirm' %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm"
                style="margin-top: 10px; padding: 6px; float: right;width: 100px;">
                <i class="text-white">Confirm</i>
            </button>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h6>Supplier Return ID</h6>
                <h6>Inbound id</h6>
                <h6>Create</h6>
                <h6>Confirm</h6>
                <h6>Date</h6>
                <h6>Status</h6>
            </div>
            {% for crd in supplierReturn %}
            <div class="col">
                <h6><b>: {{crd.id}}</b></h6>
                <h6><b>: {{crd.inbound_id}}</b></h6>
                <h6><b>: {{crd.create.name}}</b></h6>
                <h6><b>: {{crd.confirm.name}}</b></h6>
                <h6><b>: {{crd.date}}</b></h6>
                <h6><b>: {{crd.get_status_display}}</b></h6>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Id Costumer Data</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    {% if supplierReturnDataStats.supplierReturn.status == '1' %}
                    {% if role != 'OPR' %}
                    <th scope="col" style="width: 165px;">Action</th>
                    {% endif %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for crd in supplierReturnData %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{crd.id}}</td>
                    <td>{{crd.item.name}}</td>
                    <td>{{crd.quantity}}</td>
                    {% if role != 'OPR' %}
                    {% if crd.supplierReturn.status == '1' %}
                    <td>
                        <a href="#" class=" btn btn-success btn-sm" role="button"
                            aria-pressed="true">Update</a>
                        <form action="{% url 'supplierReturndataDelete' crd.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" style="padding: 3px;width: 80px;">
                                <i class="text-white">Delete</i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'supplierReturnIndex' %}"><button type="submit" class="btn btn-warning">Back</button></a>
    </div>
</div>

{% endblock content %}