{% extends 'base/master.html' %}
{% load static %}
{% block content %}

<style>
    .card {
        padding: 2%;
    }

    .card-header {
        width: 100 %;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myChart1 {
        height: 100px;
    }
    #myChart2 {
        margin-top: 100px;
        height: 100px;
    }
    #myChart3 {
        margin-top: 100px;
        height: 100px;
    }
    #myChart4 {
        margin-top: 100px;
        height: 100px;
    }
    #myChart5 {
        margin-top: 100px;
        height: 100px;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .info-box {
        flex: 2;
        width: 20%;
        background-color: #7abfff;
    }

    .info-box-content {
        text-align: center;
    }

    @media (max-width: 800px) {
        .card-header {
            flex-direction: column;
        }

        .info-box {
            width: 100%;
        }

        .info-box-content {
            text-align: left;
        }


    }
</style>
<div class="card">
    <canvas class="canvas" id="myChart1" width="400"></canvas>
    <canvas class="canvas" id="myChart2" width="400"></canvas>
    <canvas class="canvas" id="myChart3" width="400"></canvas>
    <canvas class="canvas" id="myChart4" width="400"></canvas>
    <canvas class="canvas" id="myChart5" width="400"></canvas>

    <div class="card-header">

        <div class="info-box">
            <div class="info-box-content">
                <span class="info-box-text">Avaible item</span>
                <span class="info-box-number">{{avaibleItem}}</span>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-content">
                <span class="info-box-text">Item sold</span>
                <span class="info-box-number">{{itemSold}}</span>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-content">
                <span class="info-box-text">Borrowed Item</span>
                <span class="info-box-number">{{borrowedItem}}</span>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-content">
                <span class="info-box-text">Broken Item</span>
                <span class="info-box-number">{{brokenItem}}</span>
            </div>
        </div>
        <div class="info-box">
            <div class="info-box-content">
                <span class="info-box-text">Lost Item</span>
                <span class="info-box-number">{{lostItem}}</span>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{% static 'js/minified/jquery-3.5.1.min.js' %}"></script>
</div>
{% csrf_token %}
<script>
    $(document).ready(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            type: 'post',
            url: '/app/storage/item/',
            data: {
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                console.log(response['name'])
                console.log(response['qty'])
                var ctx = document.getElementById('myChart1').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: response['name'],
                        datasets: [{
                            label: 'Item quantity',
                            data: response['qty'],
                            backgroundColor: '#a7c957',
                            borderColor: '#457b9d',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            type: 'post',
            url: '/app/storage/item/',
            data: {
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                console.log(response['name'])
                console.log(response['qty'])
                var ctx = document.getElementById('myChart2').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: response['name'],
                        datasets: [{
                            label: 'Item quantity',
                            data: response['qty'],
                            backgroundColor: '#a7c957',
                            borderColor: '#457b9d',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            type: 'post',
            url: '/app/storage/item/',
            data: {
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                console.log(response['name'])
                console.log(response['qty'])
                var ctx = document.getElementById('myChart3').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: response['name'],
                        datasets: [{
                            label: 'Item quantity',
                            data: response['qty'],
                            backgroundColor: '#a7c957',
                            borderColor: '#457b9d',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            type: 'post',
            url: '/app/storage/item/',
            data: {
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                console.log(response['name'])
                console.log(response['qty'])
                var ctx = document.getElementById('myChart4').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: response['name'],
                        datasets: [{
                            label: 'Item quantity',
                            data: response['qty'],
                            backgroundColor: '#a7c957',
                            borderColor: '#457b9d',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        var csrf = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            type: 'post',
            url: '/app/storage/item/',
            data: {
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                console.log(response['name'])
                console.log(response['qty'])
                var ctx = document.getElementById('myChart5').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                        labels: response['name'],
                        datasets: [{
                            label: 'Item quantity',
                            data: response['qty'],
                            backgroundColor: '#a7c957',
                            borderColor: '#457b9d',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    });
</script>
{% endblock content %}